<div class="example-form" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="classFilter" fxLayout="row" fxLayoutAlign="space-around stretch">
      <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Recherche par reference" value="" [(ngModel)]="reference"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    </form>
  </div>
  <table id="service">
    <tr>
      <th>Reference service</th>
      <th>designation</th>
      <th>prix du service</th>
      <th>date de mise à jour</th>
    </tr>
    <tr *ngFor="let service of listeService">
     <ng-container>
        <td>{{service.serviceref}}</td>
      <td>{{service.designation}}</td>
      <td>{{service.prixservice}}</td>
      <td>{{service.datemaj}}</td>
      <td>
      <button mat-mini-fab color="primary" (click)="openAjoutService(service)"><mat-icon>edit</mat-icon></button>
    </td>
      <td>
        <button mat-mini-fab color="warn" (click)="supprimer(service)"><mat-icon>delete</mat-icon></button>
      </td>
      </ng-container>
    </tr> 

  </table>
  <button mat-raised-button color="primary" (click)="openAjoutService(null)">Ajouter</button>
  <button mat-raised-button color="accent" (click)="enregistrer()">Enregistrer</button>
</div>
<p>Appuyer sur exporter pour télécharger le catalogue</p>
<div class="classFilter" fxLayout="row" fxLayoutAlign="space-around start">
<button mat-raised-button color="primary" (click)="exportAsXLSX()"><mat-icon>cloud_download</mat-icon>exporter</button>
<button mat-raised-button color="primary" (click)="rechercheByReferencesFichierExcel()"><mat-icon>cloud_download</mat-icon>Mise à Jour</button>
 
</div>
<br>
<p>Pour une mise à jour globale du catalogue à partir d'un fichier 
  excel veuillez charger le fichier source</p>
<input type="file" (change)="onFileChange($event)" />
<div id="output"></div>
