#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #228a77;
    color: white;
}


.articleCommande{
    background-color: #ff4700 !important;
}

.example-full-width{
    width: 100%;
}
.classFilter{
margin-top: 19px;
margin-left: 19px;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  table {
    width: 100%;
  }