<form [formGroup]="step">
  
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input matInput placeholder="numéro CRM" [(ngModel)]="demande.crm" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="client" name="clientnom" [ngModelOptions]="{standalone: true}" >
            <mat-option  *ngFor="let client of listeClients | unique : 'clientnom'" [value]="client">
                {{client.clientnom}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="nom du projet" [(ngModel)]="demande.projet"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input matInput type="number" placeholder="Prix fournisseur" [(ngModel)]="demande.couttotal" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Prix recommandé" [(ngModel)]="demande.prixrecommande" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <pre>


</pre>
  <div fxLayout="column" fxLayoutAlign="space-around end">
      <button mat-raised-button matStepperNext (click)=setDemande()>Suivant</button>
  </div>
</form>