<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <span>Nouveau catalogue</span>
    </div>
    <div>
      <form fxLayout="column" fxLayoutAlign="space-around stretch">
  
        <mat-form-field>
          <input matInput placeholder="nom du catalogue" [(ngModel)]="catalogue.cataloguenom" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
  
      </form>
      <button mat-raised-button color="accent" (click)="ajouter()" [disabled]="false">Ajouter</button>
    </div>
  </div>